<div class="row">
    <div style="width: 100%; height: 350px; overflow-x:hidden; overflow-y:visible;" id="chat">
        <ul id="chatList"></ul>
    </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="form-group">
        <textarea id="message" cols="45" rows="3" class="form-control" placeholder="Digite sua mensagem e aperte Enter para enviar. Se preferir, use o botão."></textarea>
        <input type="button" id="btnSendMessage" value="Enviar mensagem" class="btn btn-default" />
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.signalR-2.0.3.js"></script>
    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">
        $(function () {
            var chat = $.connection.chatHub;

            chat.client.receiveMessage = function (message) {
                $('#chatList').append('<li>' + message + '</li>');
                $("#chat").scrollTop($("#chat")[0].scrollHeight);
            };

            $.connection.hub.start().done(function () {
                console.log("Conexão inciada com sucesso!");
            });

            $('#btnSendMessage').click(function () {
                chat.server.sendMessage($('#message').val());
                $('#chatList').append('<li>Eu: ' + $('#message').val() + '</li>');
                $('#message').val('');
                $("#chat").scrollTop($("#chat")[0].scrollHeight);
            });

            $("#message").on("keyup", function (e) {
                if (e.which == 13)
                    $('#btnSendMessage').trigger("click");
            });

        });
    </script>
}
