@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("SignIn", "Home"))
        {
            <label for="nome">
                Nome: <input type="text" name="nome" />
            </label>
            <input type="submit" value="Entrar no Chat" />
        }
    </div>
</body>
</html>
